* {
padding: 0;
margin:0;
/*outline: 1px dotted green;*/
font-family: Arial, Helvetica, sans-serif;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

	#header {
		height: 72px;
	}

		div.logo {
			display: inline-block;
		}

		div.phone {
			display: inline-block;
			margin-left: 360px;
			vertical-align: top;
			margin-top: 30px;
			font-weight: 700;
		}

	#navigation {
		background: #e8e8e8;;
		height: 30px;
	}

		#navigation ul {
			height: 100%;
			margin-left: 30px;
		}

		#navigation li {
			display: inline;
			padding: 9px 18px;
			border-left: 1px solid white;
			border-right: 1px solid white;
			line-height: 30px;
			font-size: .7em;
			font-weight: 700;
			margin-left: -1px;
		}

		#navigation a {
			text-decoration: none;
			color: #575757;
		}