* {
font-family: Arial, Helvetica, sans-serif;
padding: 0;
margin:0;
/*outline: 1px dotted green;*/
}

h2 {
	background: #FFCC00;
	font-size: .7em;
	height: 30px;
	line-height: 30px;
	font-weight: 800;
	padding-left: 10px;
}

h3 {
	font-size: .8em;
	margin-bottom: 15px;
}

p {
 font-size: .7em;
}

#container {
	width: 1000px;
	margin: 0 auto;
	background: #F2F2F2;
}

	#header {
		height: 72px;
		background: -webkit-linear-gradient(top, #F2F2F2, white) ;
	}

		div.logo {
			display: inline-block;
		}

		div.phone {
			display: inline-block;
			margin-left: 360px;
			vertical-align: top;
			margin-top: 30px;
			font-weight: 700;
		}

	#navigation {
		background: #e8e8e8;
		height: 29px;
		border-top: 1px solid #e8e8e8;
		margin-bottom: 20px;

	}

		#navigation ul {
			height: 30px;
			margin-left: 30px;
			margin-top: -1px;
		}

			#navigation li {
				display: inline-block;
				font-size: .7em;
				border-left: 1px solid white;
				border-right: 1px solid white;
				/*height: 30px;*/
				line-height: 30px;
				vertical-align: top;
				/*margin-top: 10px;*/
				margin-left: -5px;
				padding: 0px 18px;
			}

				#navigation a {
					text-decoration: none;
					color: #575757;
				}

			#navigation a {
				/*text-decoration: none;
				color: #575757;
				padding: 6.2px 18px;
				border-left: 1px solid white;
				border-right: 1px solid white;
				margin-left: -1px;
				line-height: 100%;*/
			}



				#navigation li {
					/*display: inline-block;
					font-size: .7em;
					font-weight: 700;
					margin-top: 8.7px;
					height: 30px;
					border-left: 1px solid white;
					border-right: 1px solid white;
					margin-left: -1px;*/
				}

	#content {
		background: #0D0D0D;
		padding:20px 50px;
	}

		#content_top {
			width: 100%;
			height:275px;
		}

			#content_top_left {
				background: #FFFFFF;
				display: inline-block;
				width: calc(45% - 10px);
				vertical-align: top;
				padding: 5px;
				height: calc(100% - 10px);
			}

				#content_top_left img {
					vertical-align: top;
					/*margin: 5px;*/
					width: 100%;
					height: 100%;
				}

			#content_top_right {
				display: inline-block;
				width: calc(55% - 20px);
				margin-left: 20px;
				background: #5A5A5A;
				height: 100%
			}

				#content_top_right div.inside {
					color: white;
					padding: 15px 20px;
				}

		div.middle_strip {
			height: 15px;
			padding: 10px 5px;
			color: #94B84D;
		}

			div.middle_strip img {
				height: 100%;
				width: 40px;
				margin-right: 15px;
			}

			div.middle_strip p {
				font-size: .6em;
				display: inline-block;
				line-height: 15px;
				vertical-align: top;
			}

		#content-bottom {
			/*height: 800px;*/
		}

			div.bottom4 {
				display: inline-block;
				vertical-align: top;
				background: #FFF;
				width: 210px;
				height: 250px;
			}

				div.first, .second, .third {
					margin-right: 20px;
				}

			div.bottom4 img {
				width: 100%;
			}

			div.bottom4 h2 {

			}

			div.bottom4 p {
				padding: 10px;
			}

			div.bottom4 span {
				font-size: .7em;
				background: #FFCC00;
				border: 2px solid black;
				margin-left: 100px;
				height: 20px;
				line-height: 20px;
				display: inline-block;
				padding: 0 5px;
			}